@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');


body {
  margin: 0px auto; /*Расстояние от края элемента до края окна браузера*/
  font-family: Roboto, sans-serif; /*Устанавливает семейство шрифта*/
  background-color: #EEEEEE;
}
.main_container {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  max-width: 1219px; /*Устанавливает максимальную ширину элемента*/
  margin-left: auto; /*Устанавливает величину отступа от левого края элемента*/
  margin-right: auto; /*Устанавливает величину отступа от правого края элемента*/
  padding-left: 55px; /*Устанавливает значение поля от левого края содержимого элемента*/
  padding-right: 55px; /*Устанавливает значение поля от правого края содержимого элемента*/
  box-sizing: border-box;
  margin-top: 0;
  
}

.site_header {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  background-color: #007765; /*Определяет цвет фона элемента*/
  height: 84px; /*Устанавливает высоту содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  position: fixed; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице*/
  top: 0; /*Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента*/
  z-index: 21; /*Размещением по z-оси*/
  /*transition: height 1s ease-in-out;*/
}
/*Шапка сайта*/

.navigation_container {
  height: 100%; /*Устанавливает ширину содержимого элемента*/
 /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  justify-content: space-between; /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
  display: flex;
}
/*Навигационный контейнер*/

.link {
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 24px; /*Определяет размер шрифта элемента*/
  line-height: 28px; /*Задаёт высоту строки текста*/
  text-decoration: none; /*Добавляет оформление текста*/
  color: #fff; /*Определяет цвет текста элемента*/
}

.section_1 {
  background: url(img1.png) center no-repeat; /*Установит фон элемента*/
  background-size: cover; /*Масштабирует фоновое изображение, согласно заданным размерам*/
  margin-top: 84px; /*Устанавливает величину отступа от верхнего края элемента*/
  padding-top: 160px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 160px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}

.main_title {
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 75px; /*Определяет размер шрифта элемента*/
  line-height: 84px; /*Задаёт высоту строки текста*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  color: #fff; /*Определяет цвет текста элемента*/
}

.section_2{
  background-color: #EEEEEE;
  padding-bottom: 55px;
}
.text_section_1{
  font-size: 32px;
  line-height: 37.5px;
}

.span{
  font-weight: 700;
}

.section_3{
  background: url(img2.png) center no-repeat;
  background-size: cover;
  padding-top: 128px;
  padding-bottom: 128px;
}

.message{
  font-size: 48px;
  font-style: italic;
  line-height: 56.25px;
  text-align: center;
  color: #FFFFFF;
}

.titles{
  color: #007765;
  font-size: 64px;
  text-align: center;
  line-height: 75px;
  margin-top: 0;
  padding-top: 55px;
  margin-bottom: 0;

}

.Italic{
  font-style: italic;
}

.section_4{
  background-color: #fff;
  padding-bottom: 55px;
}
.Logo2{
  float: left;
  padding-right: 55px;
}

.text_section_2{
  font-size: 32px;
  line-height: 37.5px;
}

.Team{
  padding-top: 55px;
}

.member{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 283px;
  flex-flow: column wrap;
  flex-wrap: wrap;
  text-align: center;
}
.foto{
  width: 168px;
  height: 168px;
}
.name{
  color: #007765;
  font-size: 24px;
  line-height: 28.13px;
}