@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');


body {
  margin: 0px auto; /*Расстояние от края элемента до края окна браузера*/
  font-family: Roboto, sans-serif; /*Устанавливает семейство шрифта*/
}
.main_container {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  max-width: 1219px; /*Устанавливает максимальную ширину элемента*/
  margin-left: auto; /*Устанавливает величину отступа от левого края элемента*/
  margin-right: auto; /*Устанавливает величину отступа от правого края элемента*/
  padding-left: 55px; /*Устанавливает значение поля от левого края содержимого элемента*/
  padding-right: 55px; /*Устанавливает значение поля от правого края содержимого элемента*/
  box-sizing: border-box;
}
/*Основной контейнер*/

.site_header {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  background-color: #007765; /*Определяет цвет фона элемента*/
  height: 84px; /*Устанавливает высоту содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  position: fixed; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице*/
  top: 0; /*Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента*/
  z-index: 21; /*Размещением по z-оси*/
  /*transition: height 1s ease-in-out;*/
}
/*Шапка сайта*/

.navigation_container {
  height: 100%; /*Устанавливает ширину содержимого элемента*/
 /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  justify-content: space-between; /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
  display: flex;
}
/*Навигационный контейнер*/

.link {
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 24px; /*Определяет размер шрифта элемента*/
  line-height: 28px; /*Задаёт высоту строки текста*/
  text-decoration: none; /*Добавляет оформление текста*/
  color: #fff; /*Определяет цвет текста элемента*/
  /*transition: color .2s linear;*/
  /*transition: font-size .3s linear;*/
}
